<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css   ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>Diego Montero</title>
</head>
<body>
    <header class="custom-header px-4 py-2">
        <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
            <div class="d-flex align-items-center mb-2 mb-md-0">
                <div class="logo rounded d-flex justify-content-center align-items-center me-2">
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/play-button-circled.png" alt="Logo" class="img-fluid" style="width: 24px;">
                </div>
                <span class="fw-semibold text-dark"></span>
            </div>
            <nav class="d-flex flex-wrap gap-2 gap-md-4">
                <a class="nav-link fw-bold text-dark" href="/view/front.html"><i class="bi bi-houses"></i>WHO AM I?</a>
                <a class="nav-link fw-bold text-dark" href="/view/education.html"><i class="bi bi-laptop"></i>STUDIES</a>
                <a class="nav-link fw-bold text-dark" href="/view/experience.html"><i class="bi bi-lightning-fill"></i>EXPREIENCE</a>
                <a class="nav-link fw-bold text-dark" href="../index.html">ES</a>
            </nav>
        </div>
    </header>

    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column mt-5">
            <h1 class="text-center fw-bold margen1" style="font-family: 'Orbitron', sans-serif;"> Diego Montero</h1>
            <h1 class="text-center fw-bold margen4" style="font-family: 'Orbitron', sans-serif;"> 01-09-2007</h1>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column mt-5">
            <img src="/IMG/foto.JPG" alt="Logo" class="img-fluid" style="width: 400px;">
        </div>

    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center flex-column mt-5 rojo">
            <h1 class="text-center fw-bold baja" style="font-family: sans-serif;">ABOUT ME</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
            <h1 class="text-center fw-bold pasear" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">I'm a very active person. I like to play sports and go for walks. One thing that definitely calls me to do is travel, and I travel whenever I can.</h1>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <img src="/IMG/3534284.png" alt="Avión" class="img-fluid me-md-2 mb-2 mb-md-0" style="width: 400px;">
                <img src="/IMG/alemania.png" alt="Bandera Alemania" class="img-fluid ms-md-2" style="width: 400px;">
            </div>
        </div>
    
        <div class="col-12 col-md-6 d-flex flex-column align-items-center">
            <div class="d-flex align-items-center justify-content-between w-100">
                <h1 class="text-center fw-bold pasear" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">In my free time, I like to edit or stream videos on YouTube, it's something I'm passionate about and I would like to continue learning about it.</h1>
                <img src="/IMG/capturade_pantalla2024-10-29162003-removebg-preview.png" alt="Logo" class="img-fluid ms-3" style="width: 200px;">
            </div>
            <iframe class="mt-3" width="50%" height="315" src="https://www.youtube.com/embed/NeEJnb1dKO0?si=tbmkuk9gD_VelbRJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

       
        <DIV class="ROW">
            <div class="col-12 d-flex justify-content-center align-items-center flex-column mt-5 rojo">
                <h1 class="text-center fw-bold baja" style="font-family: sans-serif;">MY SPORT</h1>
            </div>
        </DIV>

        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column mt-5">
                <p class="letra5">KARATE</p>
                <h1 class="text-center fw-bold pasear LETRA6" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">I really like sports. I practice Karate. I've been there for 3 years and I love it. I've been to 3 championships, where I've placed among the top 3, and today I have a Blue Belt.</h1>
                <img src="/IMG/cinturon.png" alt="Logo" class="img-fluid" style="width: 350px;">
            </div>    
    
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column mt-5">
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <img src="/IMG/sensei.jpg" alt="Sensei" class="img-fluid me-md-2 mb-2 mb-md-0" style="width: 350px;">
                    <img src="/IMG/trofeos.png" alt="Trofeos" class="img-fluid ms-md-2" style="width: 350px;">
                </div>
            </div>
        </div>


            <DIV class="ROW rojo">
                <div class="col-12 rojo d-flex justify-content-center align-items-center flex-column mt-5">
                    <h1 class="text-center fw-bold baja" style="font-family: sans-serif;">VIDEO CV</h1>
                </div>
            </DIV>

            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center flex-column mt-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NloDgUuU0ZU?si=kfPk8yFaP79lqe8m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>

           
     
   
            <div class="col-12 rojo justify-content-center align-items-center">
                <h1 class="text-center fw-bold baja rojo" style="font-family: sans-serif;">CONTACT</h1>
            </div>
            
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="/IMG/telefonopng.png" alt="Teléfono" class="img-fluid" style="width: 150px;">
                        <div class="h3">637 52 74 17</div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="/IMG/gmail.png" alt="Gmail" class="img-fluid" style="width: 150px;">
                        <div class="h3">dgmzambrano@gmail.com</div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="/IMG/loca.png" alt="Localización" class="img-fluid" style="width: 150px;">
                        <h3>Barcelona (Hospitalet de llobregat) 08904</h3>
                    </div>
                </div>
            </div>
        </div>
     
       
    
               
                
        

        
 

</body>
</html>